/*Parrafo*/
.parrafo
{
  color: rgb(0, 0, 0);
  font-family: 'Tilt Warp', cursive;
}

/*Titulo*/
.titulo{
  color: rgba(95, 0, 248, 0.411);
  font-family: 'Righteous', cursive;  
}

/*Fondo play*/
.fondoP
{
  background-image: url("../img/PLAYSTATION/FondoPlay.png") ;
  background-color: rgba(84, 12, 199, 0.555);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/*Fondo Xbox*/
.fondoX
{
  background-image: url("../img/XBOX/fondoXBOX.webp") ;
  background-color: rgba(84, 12, 199, 0.555);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/*Fondo Nintendo*/
.fondoN
{
  background-image: url("../img/NINTENDO/fondoNintendo.png") ;
  background-color: rgba(84, 12, 199, 0.555);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/*Fondo PC*/
.fondoPC
{
  background-image: url("../img/PC/fondopc.jpg") ;
  background-color: rgba(84, 12, 199, 0.555);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/*Fondo de Pantalla principal*/
.fondoPP{
  background-image: url("../img/PantallaPrincipal/fondoPantallaPrincipal.jpg") ;
  background-color: rgba(84, 12, 199, 0.555);
}


/*centrado de imagenes*/
.img
{ 

width: 70%;
max-width: 500px;
}

/*centrado de pagina*/
.centrar
{
    text-align: center;
}

/*letra play*/
.letrap
{
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

/*letra nintendo*/
.letraN
{

  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}
/*letra xbox*/
.letraX
{
  color: rgb(199, 125, 125);
  font-family: 'Roboto', sans-serif;
}

/*letra PC*/
.letraPC
{
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

/*Letra titulo*/
.letraT{
  font-family: 'Lora', serif;
  color:rgb(255, 255, 255)
}

/*colocar parrafo a la derecha*/

.derecha{
  text-align: right;
}

/*Menu*/
ul
 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 0, 255);
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #7e7e7e;
  }